/*               element selector          */

body {
    color: chartreuse;
    font-family: 'Montserrat', sans-serif;
}

hr {
    color: chartreuse;
    border: 1px solid chartreuse;
    margin: 0 10%;
}



/*                  id seclector           */

#main_container {
    margin: 4rem auto;
    background-color: black;
    height: 50rem;
    width: 100rem;
    text-align: center;
}

/*                class selector           */

.container {
    padding: 5rem;
}

.btn {
    padding: 1rem 1rem;
}

/* .class {
    size: 1px;
} */